{% block content %}Hello,
{% if inviting_profile %}
{{ inviting_profile }} invites you to their cronchecks.herokuapp.com account.

You will be able to manage their existing monitoring checks and set up new
ones. If you already have your own account on cronchecks.herokuapp.com, you will
be able to switch between the two accounts.{% endif %}
To log into cronchecks.herokuapp.com, please open the link below:

{{ login_link }}

Thanks,
The Cronchecks.herokuapp.com Team

P.S. Need help getting started? Check out our help documentation
at https://cronchecks.herokuapp.com/docs/
Or, just reply to this email with any questions or issues you have.
{% endblock %}